LearningTracker/.vs/
LearningTracker/LearningTracker.Data/obj/
LearningTracker/LearningTracker.Tests/obj/
LearningTracker/LearningTracker/bin/
LearningTracker/packages/
LearningTracker/LearningTracker/LearningTracker.csproj.user
LearningTracker/LearningTracker/obj/
/LearningTracker/LearningTracker.Data/bin/Debug
/LearningTracker/LearningTracker.Tests/bin/Debug
