@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Gestión de cursos y capacitaciones</p>
    <p><a href="@Url.Content("~/AssignedCourses/NewAssignment")" class="btn btn-primary btn-lg">Asignar Nuevo curso</a></p>
</div>
